.hidden {
    display: none;
}

ul {
    list-style: none;
}
/* background */
body {
    background-size: cover;
    background-image: url("../img/005.jpg");
    color: white;
    text-align: center;
}

.top{
    min-height: 150px;
}

.center{
    align-items: center;
}

.bottom{
    min-height: 100px;
}
#login-form{
    min-height: 100px;
}
#weather {
    border-bottom: 100px;
    text-align: right;
}
#clock {
    margin: 0%;
    font-size: 1050%;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
 
}

#greeting {
    margin: 0%;
    font-size: 310% ;
    position: relative;
    min-height: 100px;
}

#quotes {
    position: relative;

    bottom: 5px;
}

#focus-form{
    font-size: 36px;
    position: relative;
    
}

#focus-item{
    font-size: 36px;
    
}

.block{
    display: block;
}

input[type="text"]{
    border: 0;
    background: transparent;
    border-bottom: 2px solid white;
    text-align: center;
    color: white;
    width: 50%;
    font-size: 36px;
}

input::placeholder{
    color: white;
}